.git/

build
dist
*.egg-info
*.egg/
*.pyc
*.swp

.tox
.coverage
html/*
__pycache__

# Compiled Documentation
docs/_build

**/.env
**/.env.dev

# azure ssh key
jarvisVM_key.pem

# ssh and github in vm
id_ed25519
id_ed25519.pub
gcp-credentials.json