PHASE=
OPENAI_API_KEY=
EMBEDDING_MODEL="text-embedding-ada-002"
QA_MODEL="gpt-4"
REDIS_URI=redis://redis:6379
MAX_TOKEN_LIMIT=4000
MAX_CRAWL_PAGE=100
KAKAO_TIME_OUT=4.5

REDIS_HOST=redis
REDIS_PASSWORD=
GOOGLE_APPLICATION_CREDENTIALS=/run/secrets/gcp-credentials